<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet_Config</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>servlet_name</servlet-name>

  <servlet-class>com.servlet_Config.GenericServlet_Config_Example</servlet-class>
 
  <init-param>
  <param-name>name</param-name>
  <param-value>vijay</param-value>
  </init-param>
  
    <init-param>
  <param-name>eno</param-name>
  <param-value>1</param-value>
  </init-param>
  
  <init-param>
   <param-name>salary</param-name>
  <param-value>162726</param-value>
  </init-param>
  
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>servlet_name</servlet-name>
  <url-pattern>/generic</url-pattern>
  
  </servlet-mapping>
  
</web-app>